<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="JulienAnquetilwelcome_customer_login" instance="JulienAnquetil\M2SendinBlue\Observer\CheckSync"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_controller_success_action" instance="JulienAnquetil\M2SendinBlue\Observer\AfterPlaceOrder"  />
    </event>

</config>