<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="SendinBlue" translate="label" sortOrder="10">
            <label>SendinBlue</label>
        </tab>
        <section id="config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>SendinBlue</tab>
            <resource>JulienAnquetil_M2SendinBlue::JulienAnquetil_M2SendinBlue_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                 <field id="api_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API KEY</label>
                    <comment>The API KEY</comment>
                </field>
                <field id="list_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List on SENDINBLUE</label>
                    <source_model>JulienAnquetil\M2SendinBlue\Model\Config\Source\Listes</source_model>
                </field>
            </group>
            <group id="automation" translate="label" type="text" sortOrder="" showInDefault="" showInWebsite="" showInStore="">
                <label>Marketing Automation</label>
                <field id="automation_api_key">
                    <label>MARKETING AUTOMATION API KEY</label>
                    <comment>The marketing automation API KEY</comment>
                </field>
            </group>
            <group id="smtp" translate="label" type="text" sortOrder="" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SMTP Parameters</label>
                <field id="smtp_host" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP HOST</label>
                    <comment>SMTP HOST</comment>
                </field>
                <field id="smtp_login" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP LOGIN</label>
                    <comment>SMTP LOGIN</comment>
                </field>
                <field id="smtp_pass" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP PASS</label>
                    <comment>SMTP PASS</comment>
                </field>
                <field id="smtp_port" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMTP PORT</label>
                    <comment>SMTP PORT</comment>
                </field>
            </group>
        </section>
    </system>
</config>